APP_NAME = LuckyDraw
APP_ID = com.hsbc.digital.committee.luckydraw
APP_VERSION = 0.0.1
APP_BUILD = 1

PRODUCT_NAME = LuckyDraw
PRODUCT_BUNDLE_IDENTIFIER = $(APP_ID)
MARKETING_VERSION = $(APP_VERSION)
CURRENT_PROJECT_VERSION = $(APP_BUILD)

INFOPLIST_FILE = LuckyDraw/Main/Info.plist


PROVISIONING_PROFILE_SPECIFIER = xxx
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = xxx
